version: '3.9'
services:
  backend:
    build: ./backend
    environment:
      - PORT=4000
      - JWT_SECRET=supersecretchange
      - DATABASE_FILE=/data/data.sqlite
      - ORIGIN=http://localhost:5173
      - SEED=true
    volumes:
      - ./backend/data:/data
    ports:
      - "4000:4000"
  frontend:
    build: ./frontend
    environment:
      - VITE_API_URL=http://localhost:4000
    ports:
      - "5173:80"
    depends_on:
      - backend
